name: Node.js CI

on:
  push:
    branches: 
      - main
  pull_request:
    branches: 
      - main

jobs:
  lint:
    name: Checking code with ESLint
    runs-on: ubuntu-latest
    steps:
    - name: Check out the repository
      uses: actions/checkout@v3

    - name: Set up Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 16

    - name: Install dependencies
      run: npm ci

    - name: Run ESLint
      run: npm run lint

  build:
    name: Building the Docker image
    runs-on: ubuntu-latest
    needs: lint
    steps:
    - name: Check out the repository
      uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Build Docker image
      uses: docker/build-push-action@v3
      with:
        context: .
        file: ./Dockerfile
        tags: ${{ secrets.DOCKER_HUB_USERNAME }}/devops-hw5:latest
        outputs: type=docker,dest=/tmp/devops-hw5.tar

    - name: Upload artifact
      uses: actions/upload-artifact@v3
      with:
        name: devops-hw5
        path: /tmp/devops-hw5.tar

  push:
    name: Pushing the Docker image
    runs-on: ubuntu-latest
    needs: build
    steps:
    - name: Download artifact
      uses: actions/download-artifact@v3
      with:
        name: devops-hw5
        path: /tmp

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

    - name: Load Docker image
      run: docker load --input /tmp/devops-hw5.tar

    - name: Push Docker image
      uses: docker/build-push-action@v3
      with:
        push: true
        tags: ${{ secrets.DOCKER_HUB_USERNAME }}/devops-hw5:latest

  run:
    name: Running the Docker image
    runs-on: ubuntu-latest
    needs: push
    steps:
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Pull Docker image
      run: docker pull ${{ secrets.DOCKER_HUB_USERNAME }}/devops-hw5:latest
      
    - name: Run Docker image
      run: docker run -d -p 80:80 ${{ secrets.DOCKER_HUB_USERNAME }}/devops-hw5:latest
    
    - name: Curl check
      run: curl http://localhost:80/